.footer {
  background-color: #008168;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.socialLinks {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.socialLinks li {
  display: inline-block;
  margin-right: 10px;
}

.socialLinks li:last-child {
  margin-right: 0;
}

.socialLinks img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.socialLinks a {
  text-decoration: none;
  color: #fff;
}

.socialLinks a:hover {
  opacity: 0.8;
}
